{% extends 'users/user_base.html' %}
{% block head_1 %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/list_of_prods.css') }}"  />
{% endblock %}

{% block content_1 %}
	<table style="width:100%">
		<caption>Cart for {{ current_user.username }}</caption>
		{% if cart_rows %}
			{% for column in cart_columns %}
				<th>
					{{ column }}
				</th>
			{% endfor %}

			{% for row in cart_rows %}
				<tr>
					{% for item in row %}
						<td>
							{{ item }}	
						</td>
					{% endfor %}
					<td>
						<form action="" target="_self">
							<input type="hidden" name="item_name" value="{{ row[0] }}">
							<input type="number" name="quantity" value="1" min="1" max="{{ row[2] }}" >
							<input type="submit" value="Delete">	
						</form>
					</td>
				</tr><br>
			{% endfor %}
		{% else %}
			<th>
				No items in cart.
			</th>
		{% endif %}
	</table>
{% endblock %}