<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>YOU NEED TO PASS A TITLE</title>
		{% endif %}
	</head>
	<body>
		<div>
			Grocery Store Inventory System: 
			<a href = "{{ url_for('homepage_view_func') }}">HomePage</a>
			<hr>
		</div>

		<div>
			<a href = "{{ url_for('user_register_view_func') }}">Register</a> <br>		
		</div>	

		<h1>Sign in </h1>
		<form action="" method="post" target="_self" novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.username.label }}<br>
				{{ form.username(size=50) }}<br>
				{% for error in form.username.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>	
			<p>
				{{ form.password.label }}<br>
				{{ form.password(size=50) }}<br>
				{% for error in form.password.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.remember_me() }} {{ form.remember_me.label }} <br>
				{% for error in form.remember_me.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.submit() }}
			</p>
		</form>
		<p>
			{% with messages = get_flashed_messages() %}
				{% for message in messages %}
					{{ message }}<br>
				{% endfor %}
			{% endwith %}
		</p>
		

	</body>
</html>