{% extends 'admin/admin_base.html' %}

{% block head_1 %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/list_of_prods.css') }}"  />
{% endblock %}

{% block content_1 %}
	<table style="width:100%">
		<caption>Food</caption>
		{% for column in food_columns %}
			<th>
				{{ column }}
			</th>
		{% endfor %}
		{% for row in food_rows %}
			<tr>
				{% for item in row %}
				<td>
					{{ item }}	
				</td>
				{% endfor %}
				<td>
					<form action="" target="_self" method="post">
						<input type="hidden" name="category" value="Food">
						<input type="hidden" name="item_name" value="{{ row[1] }}">
						<input type="number" name="quantity" value="1" min="{{ -row[2] }}" max="1000" >
						<input type="submit" value="Change Quantity" >	
					</form>
				</td>
			</tr><br>
		{% endfor %}
	</table>
	<table style="width:100%">
		<caption>Electronics</caption>
		{% for column in electronics_columns %}
			<th>
				{{ column }}
			</th>
		{% endfor %}
		{% for row in electronics_rows %}
			<tr>
				{% for item in row %}
				<td>
					{{ item }}	
				</td>
				{% endfor %}
				<td>
					<form action="" target="_self" method="post">
						<input type="hidden" name="category" value="Electronics">
						<input type="hidden" name="item_name" value="{{ row[1] }}">
						<input type="number" name="quantity" value="1" min="{{ -row[2] }}" max="1000" >
						<input type="submit" value="Change Quantity" >	
					</form>
				</td>
			</tr><br>
		{% endfor %}
	</table>
	<table style="width:100%">
		<caption>Clothes</caption>
		{% for column in clothes_columns %}
			<th>
				{{ column }}
			</th>
		{% endfor %}
		{% for row in clothes_rows %}
			<tr>
				{% for item in row %}
				<td>
					{{ item }}	
				</td>
				{% endfor %}
				<td>
					<form action="" target="_self" method="post">
						<input type="hidden" name="category" value="Clothes">
						<input type="hidden" name="item_name" value="{{ row[1] }}">
						<input type="number" name="quantity" value="1" min="{{ -row[2] }}" max="1000" >
						<input type="submit" value="Change Quantity" >	
					</form>
				</td>
			</tr><br>
		{% endfor %}
	</table>
	<table style="width:100%">
		<caption>Video Games</caption>
		{% for column in videogames_columns %}
			<th>
				{{ column }}
			</th>
		{% endfor %}
		{% for row in videogames_rows %}
			<tr>
				{% for item in row %}
				<td>
					{{ item }}	
				</td>
				{% endfor %}
				<td>
					<form action="" target="_self" method="post">
						<input type="hidden" name="category" value="Videogames">
						<input type="hidden" name="item_name" value="{{ row[1] }}">
						<input type="number" name="quantity" value="1" min="{{ -row[2] }}" max="1000" >
						<input type="submit" value="Change Quantity" >	
					</form>
				</td>
			</tr><br>
		{% endfor %}
	</table>
{% endblock %}