<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>YOU NEED TO PASS A TITLE</title>
		{% endif %}
	</head>
	<body>
		<div>
			Grocery Store Inventory System: 
			<a href = "{{ url_for('homepage_view_func') }}">HomePage</a>
			<a href = "{{ url_for('admin_products_view_func') }}">Admin_Products</a>
			<hr>
		</div>

		{% with messages = get_flashed_messages() %}
		{% if messages %}

		{% for message in messages %}
		<div>
			<ul>
				{{ message }}
			</ul>
		</div>
		{% endfor %}

		{% endif %}
		{% endwith %}

		{% block content_1 %}{% endblock %}
	</body>
</html>